# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.so
*.egg-info/
*.egg
*.log

# --- Jupyter ---
.ipynb_checkpoints/
*.ipynb_checkpoints

# --- Environnements virtuels ---
venv/
.env/
.env*/ 
.venv/
pip-wheel-metadata/
*.pyenv
.conda/
conda-env/

# --- Cache / Build ---
build/
dist/
.eggs/
.cache/
.mypy_cache/
.pytest_cache/
.dmypy.json
coverage.xml
htmlcov/
.tox/

# --- VSCode / Editors ---
.vscode/
.idea/
*.swp
*.swo

# --- OS Files ---
.DS_Store
Thumbs.db

# --- Project-specific ---
data/
